<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet" />
<style>
body{
  font-family: 'Nunito', sans-serif;
  padding: 50px;
}
p.note {
    background: #fffffa;
    border: 2px solid #aaaa55;
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://avatars.githubusercontent.com/u/51194521?s=200&v=4);
      background-repeat: no-repeat;    
    background-position: right 10px top 10px;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 
</style>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>{{ label }}</h3>
        <p><b>{{ concept }}</b><br/></p>                
        <p class="note">
        <h4>Elucidation</h4>
        {{ elucidation }}</p>                
        <p class="note">
        <h4>Comments</h4>
        {{ comments }}</p>
        <p class="note">
        <h4>Etymology</h4>
        {{ etymology }}</p>
      </div>
    </div>
  </div>
</div>